.header {	box-shadow: var(--shadow-2);
	background-color: white;
	padding: 1.5em 0;
	color: black;
}

.container {
	max-width: 180rem;
	margin: 0 auto;
	width: 95%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: var(--font-size-fluid-3);
	font-family: var(--font-mono);
	letter-spacing: 0.1em;
	flex: 1;
}

.burger_icon {
	font-size: 3.5rem;
}

.nav_list {
	list-style: none;
	display: flex;
}

.nav_list > * {
	font-size: 1.6rem;
}

.nav_list_item {
	font-size: 2rem;
	font-weight: var(--font-weight-6);
	font-family: var(--font-sans);
}

.nav_list_item + .nav_list_item {
	margin-left: var(--size-9);
}
